body{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    #root{
        background-color: lightgrey;
        max-width: 1200px;
        margin:0 auto;
        .dark{
            header{
                background-color: darkred;
                color:white;
                border-radius: 10px;

                h1{
                    text-transform: uppercase;
                }
                nav{
                    color: white;
                    display:flex;
                    justify-content: space-around;
                    align-items: center;
                    a{
                        color:white;
                        text-decoration: none;
                        &:active{
                            color:rgb(124, 124, 124);
                        }
                        &:hover{
                            box-shadow: 0px 0px 15px white inset;
                        }
                    }
                    select{
                        background-color: darkred;
                        border:none;
                        font-size: 2rem;
                    }
                    :last-child{
                        font-size: 5rem;
                    }
                }
            }
            main{
                div{
                    h1{
                        font-size: 5rem;
                        color:rgb(255, 202, 202);
                        background-color: rgb(40, 40, 40);
                    }
                    img{
                        width: 100%;
                    }
                }
                
            }
            footer{

            }
        }
        .light{
            header{
                background-color: rgb(234, 234, 234);
                color:rgb(61, 0, 0);
                border-radius: 10px;

                h1{
                    text-transform: uppercase;
                }
                nav{
                    color: rgb(96, 19, 19);
                    display:flex;
                    justify-content: space-around;
                    align-items: center;
                    a{
                        color:rgb(96, 19, 19);
                        text-decoration: none;
                        &:active{
                            color:rgb(124, 124, 124);
                        }
                        &:hover{
                            box-shadow: 0px 0px 15px white inset;
                        }
                    }
                    select{
                        background-color: rgb(234, 234, 234);
                        border:none;
                        font-size: 2rem;
                    }
                    :last-child{
                        font-size: 5rem;
                    }
                }
            }
            main{
                div{
                    h1{
                        font-size: 5rem;
                        color:rgb(40, 40, 40);
                        background-color: rgb(255, 202, 202);
                    }
                    img{
                        width: 100%;
                    }
                }
                
            }
            footer{

            }
        }
    }
}

h1{
    
    margin:0;
    padding:0;
    text-align: center;
}